@{
    ViewBag.Title = "Bancos - Agregar compañías y facturas desde Excel";
}

<!-- para leer un documento Excel desde el cliente -->
<script src="~/Scripts/xlsx.js/jszip.js"></script>
<script src="~/Scripts/xlsx.js/shim.js"></script>
<script src="~/Scripts/xlsx.js/xlsx.js"></script>

<div style="padding-top: 5px; ">
    <div class="progressbar" style="height: 15px; width: 10%; margin: 0 auto; "></div>
</div>

<div class="row" style="margin-top: 5px; ">
    <div class="col-md-6">
        <span style="text-align: left; font-size: large; color: #004080; font-style: italic; padding-left: 110px; ">Importar compañías y facturas</span>
    </div>
    <div class="col-md-6" style="text-align: right;">
        <span style="text-align: right; font-size: small; color: #004080; font-style: italic; " data-bind="text: ciaContabSeleccionadaNombre"></span>
    </div>
</div>

<!-- espacio para mostrar mensajes desde el servidor o cliente ... -->
<div class="mensajeAlUsuario"></div>

<div class="row">
    <div class="col-md-11 col-md-offset-1">
        <div class="pagination-sm">
            <div id="page-selection"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-1 left-side-bar" style="padding: 20px 0px 30px 0px; border: solid 1px lightgray; text-align: center; ">

            <!-- 1) leemos el documento Excel  -->
            <a href='#' id="fake-upload-button">
                <img src='@Url.Content("~/Pictures/Excel_25x25.png")' />
            </a>
            <br />
            <a href='#' id="fake-upload-button2">Cargar<br />doc Excel</a>
            <br />

            <input type="file" id="fileInput" onchange="handleFiles(this.files)" style="display: none; " />

            <br />
            <hr />

            <!-- Grabamos a mongo (temporal...)  -->
            <a href='#' data-bind="click: grabarAMongo">
                <img src='@Url.Content("~/Pictures/server_25x25.png")' />
            </a>
            <br />
            <a href='#' data-bind="click: grabarAMongo">Grabar al<br />servidor</a>

            <br />
            <hr />

            <!-- validamos datos e informamos al usuario  -->
            <a href='#' data-bind="click: validarExistenciaCompanias">
                <img src='@Url.Content("~/Pictures/Gears2_25x25.png")' />
            </a>
            <br />
            <a href='#' data-bind="click: validarExistenciaCompanias">Validar<br />datos</a>

            <br />
            <hr />

            <!-- grabamos en forma definitiva a la tabla Compañías  -->
            <a href='#' data-bind="click: grabarCompaniasQueNoExisten_openCatalogosDialog">
                <img src='@Url.Content("~/Pictures/database_25x25.png")' />
            </a>
            <br />
            <a href='#' data-bind="click: grabarCompaniasQueNoExisten_openCatalogosDialog">Grabar<br />compañías</a>

            <br />
            <hr />

            <!-- grabamos las facturas  -->
            <a href='#' data-bind="click: grabarFacturas_openDialog">
                <img src='@Url.Content("~/Pictures/database_25x25.png")' />
            </a>
            <br />
            <a href='#' data-bind="click: grabarFacturas_openDialog">Grabar<br />facturas</a>

            <br />
            <hr />

            <!-- finalmente, grabamos los asientos contables  -->
            <a href='#' data-bind="click: grabarAsientosContables_openDialog">
                <img src='@Url.Content("~/Pictures/database_25x25.png")' />
            </a>
            <br />
            <a href='#' data-bind="click: grabarAsientosContables_openDialog">Grabar<br />Asientos contables</a>
        </div>

        <div class="col-md-11">

            <div class="pagination-sm"><div id="page-selection"></div></div>
            <table class="table table-condensed table-striped table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th style="text-align: center; ">Cliente</th>
                        <th>Rif</th>
                        <th style="text-align: left; ">Apellido</th>
                        <th style="text-align: left; ">Nombre</th>
                        <th style="text-align: left; ">Teléfono</th>
                        <th style="text-align: left; ">Celular</th>
                        <th style="text-align: left; ">Email</th>
                        <th style="text-align: left; ">Dirección</th>
                        <th style="text-align: left; ">Ciudad</th>
                        <th style="text-align: left; ">Estado</th>
                        <th style="text-align: left; ">Certificado</th>
                        <th style="text-align: left; ">Cert asoc</th>
                        <th style="text-align: left; ">Representante</th>
                        <th style="text-align: left; ">Marca mod versión</th>
                        <th style="text-align: left; ">Placa</th>
                        <th style="text-align: right; ">Membresía</th>
                        <th style="text-align: right; ">Arys vial</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: facturasPage">
                    <tr>
                        <td data-bind="text: cliente" style="text-align: left; "></td>
                        <td data-bind="text: rif, style: { color: (existeEnContab() == null) ? 'black' : ( existeEnContab() ? 'blue' : 'red' ) }"></td>
                        <td data-bind="text: apellidoPropietario" style="text-align: left; "></td>
                        <td data-bind="text: nombrePropietario" style="text-align: left; "></td>
                        <td data-bind="text: telefono" style="text-align: left; "></td>
                        <td data-bind="text: celular" style="text-align: left; "></td>
                        <td data-bind="text: email" style="text-align: left; "></td>
                        <td data-bind="text: direccion" style="text-align: left; "></td>
                        <td data-bind="text: ciudad" style="text-align: left; "></td>
                        <td data-bind="text: estado" style="text-align: left; "></td>
                        <td data-bind="text: certificado" style="text-align: left; "></td>
                        <td data-bind="text: certAsoc" style="text-align: left; "></td>
                        <td data-bind="text: representante" style="text-align: left; "></td>
                        <td data-bind="text: marcaModeloVersion" style="text-align: left; "></td>
                        <td data-bind="text: placa" style="text-align: left; "></td>
                        <td data-bind="text: numeral(membresia()).format()" style="text-align: right; "></td>
                        <td data-bind="text: numeral(arysVial()).format()" style="text-align: right; "></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>


<!-- diálogo para que el usuario indique los catálogos que se debe usar al grabar las compañías -->
<div id="catalogosCompanias" title="Seleccione los catálogos que se deben usar al grabar las compañías">

    <div style="padding-top: 5px; ">
        <div class="progressbar" style="height: 15px; width: 10%; margin: 0 auto; "></div>
    </div>

    <form class="form-horizontal" role="form" style="font-size: small; ">

        <div class="container-fluid">

            <div class="row verticalOffset">
                <div class="col-sm-6">
                    <div class="form-group" style="margin-bottom: 0px; ">
                        <label class="control-label col-sm-4">Tipo:</label>
                        <div class="col-sm-8">
                            <select class="form-control" data-bind="options: tiposCompania, optionsText: 'descripcion', optionsValue: 'id', value: tiposCompaniaSeleccionado"></select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group" style="margin-bottom: 0px; ">
                        <label class="control-label col-sm-4">Forma de pago:</label>
                        <div class="col-sm-8">
                            <select class="form-control" data-bind="options: formasPago, optionsText: 'descripcion', optionsValue: 'id', value: formasPagoSeleccionada"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row verticalOffset">
                <div class="col-sm-6">
                    <div class="form-group" style="margin-bottom: 0px; ">
                        <label class="control-label col-sm-4">Moneda:</label>
                        <div class="col-sm-8">
                            <select class="form-control" data-bind="options: monedas, optionsText: 'descripcion', optionsValue: 'id', value: monedaSeleccionada"></select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group" style="margin-bottom: 0px; ">
                        <label class="control-label col-sm-4">Cargo:</label>
                        <div class="col-sm-8">
                            <select class="form-control" data-bind="options: cargos, optionsText: 'descripcion', optionsValue: 'id', value: cargoSeleccionado"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row verticalOffset">
                <div class="col-sm-6">
                    <div class="form-group" style="margin-bottom: 0px; ">
                        <label class="control-label col-sm-4">Título:</label>
                        <div class="col-sm-8">
                            <select class="form-control" data-bind="options: titulos, value: tituloSeleccionado"></select>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>

</div>


<!-- diálogo para que el usuario indique algunos parámetros y grabe las facturas  -->
<div id="grabarFacturasDialog" title="Indique valores para los siguientes parámetros y grabe las facturas a la base de datos">

    <div style="padding-top: 5px; ">
        <div class="progressbar" style="height: 15px; width: 10%; margin: 0 auto; "></div>
    </div>

    <form class="form-horizontal" role="form" style="font-size: small; ">

        <div class="container-fluid">

            <div class="row verticalOffset">
                <p>
                    Antes de intentar registrar facturas en forma 'masiva', Ud. debe asegurarse de ser el <em>único</em> que está registrando facturas
                    para la compañía (Contab) seleccionada.
                </p>
                <p>
                    Este proceso determinará el número de la <em>próxima</em> factura, e irá asociando a cada factura un número consecutivo a partir de éste.
                </p>
                <p>
                    Por esta razón, Ud. debe ser el <em>único</em> usuario que agregue facturas a la compañía (Contab) seleccionada, para que los números de
                    factura no se dupliquen.
                </p>
            </div>

            <div class="row verticalOffset">
                <div class="col-sm-6">
                    <div class="form-group" style="margin-bottom: 0px; ">
                        <label typeof="" class="control-label col-sm-4">Fecha de facturas:</label>
                        <div class="col-sm-8">
                            <input class="form-control datefield" data-bind="value: fechaFacturas" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <!-- 

                        los montos vienen ya con su Iva; por esa razón, dejamos de pedirlo aquí; en vez de eso, desde un principio determinamos cual es el 
                        monto de Iva y el monto base para cada monto original .... 

                    <div class="form-group" style="margin-bottom: 0px; ">
                        <label class="control-label col-sm-4">Iva (%):</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" data-bind="value: porcentajeImpuestosIva" placeholder="(ej: 50 o 50.75)" />
                        </div>
                    </div>
                    -->
                </div>
            </div>

            <div class="row verticalOffset">
                <div class="col-sm-6">
                    <div class="form-group" style="margin-bottom: 0px; ">
                        <label class="control-label col-sm-4">Cantidad de facturas a registrar:</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" data-bind="value: cantidadFacturasARegistrar" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <p>
                        Este valor le permite grabar solo algunas facturas, por ejemplo una o dos, para probar este proceso.
                        Luego puede regresar y ejecutar el proceso en forma definitiva.
                    </p>
                    <p>
                        Para registrar todas las facturas, simplemente deje este valor en blanco; es decir, vacío.
                    </p>
                </div>
            </div>

        </div>
    </form>

</div>


<!-- diálogo para que el usuario indique algunos parámetros y grabe los asientos  -->
<div id="grabarAsientosDialog" title="Indique valores para los siguientes parámetros y grabe los asientos contables a la base de datos">

    <div style="padding-top: 5px; ">
        <div class="progressbar" style="height: 15px; width: 10%; margin: 0 auto; "></div>
    </div>

    <form class="form-horizontal" role="form" style="font-size: small; ">

        <div class="container-fluid">

            <div class="row verticalOffset">
                <p>
                    Mediante esta función, Ud. podrá: 
                    <ol>
                        <li>
                            Leer los catálogos necesarios para efectuar el registro de asientos contables; <em>esta operación tarda bastante</em>,
                            pues la tabla de cuentas contables es sumamente extensa, y leerla y transferirla toma bastante tiempo.
                        </li>
                        <li>
                            Efectuar el registro de asientos contables. 
                        </li>
                    </ol>
                </p>
            </div>

            <div class="row verticalOffset">
                <div class="col-sm-6">
                    <div class="form-group" style="margin-bottom: 0px; ">
                        <label class="control-label col-sm-4">CxC clients:</label>
                        <div class="col-sm-8">
                            <select class="form-control" 
                                    data-bind="options: cuentasContables, optionsText: 'descripcion', optionsValue: 'cuenta', value: parametrosAgregarAsientosContables.cuentaContable_cxcClientes">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group" style="margin-bottom: 0px; ">
                        <label typeof="" class="control-label col-sm-4">Ing membresía:</label>
                        <div class="col-sm-8">
                            <select class="form-control"
                                    data-bind="options: cuentasContables, optionsText: 'descripcion', optionsValue: 'cuenta', value: parametrosAgregarAsientosContables.cuentaContable_IngMembresia">
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row verticalOffset">
                <div class="col-sm-6">
                    <div class="form-group" style="margin-bottom: 0px; ">
                        <label class="control-label col-sm-4">Ing grúa:</label>
                        <div class="col-sm-8">
                            <select class="form-control"
                                    data-bind="options: cuentasContables, optionsText: 'descripcion', optionsValue: 'cuenta', value: parametrosAgregarAsientosContables.cuentaContable_IngGrua">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group" style="margin-bottom: 0px; ">
                        <label class="control-label col-sm-4">Imp Iva:   </label>
                        <div class="col-sm-8">
                            <select class="form-control"
                                    data-bind="options: cuentasContables, optionsText: 'descripcion', optionsValue: 'cuenta', value: parametrosAgregarAsientosContables.cuentaContable_ImpIva">
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row verticalOffset">
                <div class="col-sm-6">
                    <div class="form-group" style="margin-bottom: 0px; ">
                        <label class="control-label col-sm-4">Factor de cambio:</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" placeholder="(ej: 50 o 50.75)" data-bind="value: parametrosAgregarAsientosContables.factorCambio" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group" style="margin-bottom: 0px; ">
                        <label class="control-label col-sm-4">Tipo de asiento:</label>
                        <div class="col-sm-8">
                            <select class="form-control"
                                    data-bind="options: tiposAsiento, value: parametrosAgregarAsientosContables.tipoAsientoContable"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row verticalOffset3">
                <div class="col-sm-6">
                    <div class="form-group" style="margin-bottom: 0px; ">
                        <label class="control-label col-sm-4">Número de lote:</label>
                        <div class="col-sm-8">
                            <input class="form-control" placeholder="número de lote" data-bind="value: numeroLote" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <p>
                        <em>Nota importante: </em> si Ud. necesita, por alguna razón, ejecutar este paso en forma separada, luego de haber cargado las 
                        facturas, debe hacer lo siguiente: 
                    </p>
                    <ol>
                        <li>Cargar el documento Excel</li>
                        <li>Ejecutar el paso 2, 'grabar al servidor'</li>
                        <li>Ejecutar este proceso, pero indicar el número de lote en forma manual</li>
                    </ol>
                </div>
            </div>

        </div>
    </form>
</div>


<!-- especie de dialog box  -->
<div id="mensajeAlUsuarioDialog" title="El proceso en ejecución se ha completado ...">
    <div class="mensajeAlUsuario" style="font-size: small; "></div>
</div>

<script src="~/Scripts/code/bancos/ImportarCompaniasDesdeExcel.js"></script>
