

@using X.PagedList;
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Common; 

@{
    ViewBag.Title = "ConsultarPagosRegistrados";
    Layout = "~/Areas/Bancos/Views/Shared/_Layout2_Bootstrap4.cshtml";
}

<div class="container">

    <div class="row" style="padding-top: 45px; margin-bottom: 30px; ">
        <div class="col-sm-9">
            <h4>Consultar información de pagos de impuesto enterados</h4>
        </div>
        <div class="col-sm-3 text-right">
            @Html.ActionLink("Regresar ...", "Index", "islr_pagoAnticipado", new { Area = "Bancos" }, new { })
        </div>
    </div>

    @if (@ViewBag.ErrorInfo != null && @ViewBag.ErrorInfo.error)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @Html.Raw(@ViewBag.ErrorInfo.message)
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <br />
    <div>
        @Html.PagedListPager((IPagedList)ViewBag.OnePageOfItems, page => Url.Action("ConsultarPagosRegistrados",
            new { page, ciaContabID = ViewBag.ciaContabID }),
            new PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },
                ContainerDivClasses = new string[] { "pagination-sm", "justify-content-center" }
            })
    </div>
    
    <div class="row">
        <div class="col=sm">
            <table class="table table-striped table-bordered table-hover table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>Rif</th>
                        <th>Fecha</th>
                        <th>Monto</th>
                        <th>Status</th>
                        <th>Mensaje</th>
                        <th>F registro</th>
                        <th>Usuario</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var d in ViewBag.OnePageOfItems)
            {
                        <tr>
                            <td>@d.Rif</td>
                            <td>@d.Fecha.ToShortDateString()</td>
                            <td>@d.Monto</td>
                            <td>@d.EstatusFinal.Estatus</td>
                            <td>@d.EstatusFinal.Mensaje</td>
                            <td>@d.FechaRegistro.ToLocalTime()</td>
                            <td>@d.Usuario</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table> 
        </div>
    </div>
    
</div>

